    .clude .include p, .clude .include h3 {
        font-size: 2.98vw;
        line-height: 4vw;
    }
    h3.h3 {
        margin: 2vw 0;
    }
    .header .links{
        display: none;
    }
    .header .ss p {
        display: none;
    }
    .header .ss div.nav {
        display: block;
        right: 100%;
    }
    .clude .footer p {
        font-size: 2vw;
        line-height: 3vw;
    }
    .footer img {
        float:none;
    }
    .footer img:nth-child(3) {
        margin: 0;
        margin-bottom: 1.2vw;
    }
    .footer img:nth-last-child(1){
        margin:0;
        padding-bottom: 7.1vw;
    }
    .footer img:nth-last-child(2), .footer img:nth-last-child(3) {
        margin:0;
        padding-bottom: 7.5vw;
        padding-right: 2vw;
    }
    .footer img:nth-last-child(4) {
        margin:0;
        padding: 0 2vw 4.5vw 0;
    }