body {
    background-color: white;
    color:rgb(247, 247, 202);
    background-image: url(../assets/back4.png);
    background-repeat: repeat;
    margin: 0px 0px 0px 0px;
}
hr {
    color: black;
    background-color: black;
    border: none;
    height: 2px;
    margin: 1.2em 0;
}
.h3 {
    margin: 0.5em 0 0.65em 0;
    padding: 0.2em;
    padding-bottom: 0.3em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 1.2em;
}
h3.h3 {
    text-align:center;
}
/*--- Header ---*/
.header, .h3{
    background-color: black;
    background-image: url(../assets/header.png);
    background-repeat: repeat;
    color: white;
    font-weight: bold;
}
.header {
    font-size: 1.9em;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    position: fixed;
    width: 100%;
    top: 0;
}
.header a {
    text-decoration: none;
    color: white;
}
.header .links {
    display: flex;
    flex-direction: row;
}
.header .links p{
    margin-right: 4em;
}
.header .ss, .header p {
    margin: auto;
}
.header .ss {
    margin-right: 50px;
}
.header .ss div.nav {
    display: none;
    position: relative;
    padding: 2vw;
}
.header ul {
    position: absolute;
    top: 65%;
    left: -30%;
    display: none;
    background-image: url(../assets/header.png);
    padding-left: 0;
}
.header li {
    border:1px solid white;
    list-style-type: none;
    position: relative;
    padding: 1vw 2em;
}
.header div.nav:hover ul{
    display:block;
}
.header img {
    max-height: 80px;
    margin: 5px 4vw 5px 10px;
}
/*--- body ---*/
.body {
	margin-top: 5em;
    font-family:"georgia", serif;
    font-size: 1.2em;
}
.news img {
    float:left;
    width: 40%;
    margin-right: 2em;
}
.news p {
    text-align: justify;
}
.news>div:first-of-type {
    height: 456px;
    margin-bottom: 1em;
    display: block;
}
.news>div:last-of-type {
    margin-top: 3em;
    display: block;
}
.comments {
    float:right;
    width: 40%;
    height: 100%;
    border: 2px solid black;
    margin-left: 2em;
}
.comments img {
    width: 14%;
    padding-left: 1em;
    margin-right: 1em;
}
.comments p {
    padding-right: 1em;
}
.comments p:last-of-type {
    margin-bottom: .5em;
}
.comments input, .comments textarea {
    height: 7%;
    width: 55%;
    margin: 0 1.4em 1em 1.4em;
}
.comments input:first-of-type {
    height: 7%;
    width: 30%;
    margin: 0 0 1em 1.4em;
}
.comments textarea {
    margin-bottom: .7em;
    width: 90%;
    height: 9%;
    display: block;
}
.comments input:last-of-type {
    height: 9%;
    width: 20%;
}

/*--- body-distance ---*/
.include {
    flex-basis: 1250px;
    flex-shrink: 1;
}
.exclude {
    /* width:512px; */
    flex-shrink: 2;
}
.clude {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
}
/*--- footer ---*/
.footer img{
    max-width: 10%;
    float: left;
    margin: auto;
}
.footer img:nth-child(3) {
    margin: 1.2em 1em;
}
.footer img:nth-last-child(1) {
    margin: 2em 1em;
}
.footer img:nth-last-child(2) {
    margin: 2.2em 1em;
}
.footer img:nth-last-child(3) {
    margin: 2.2em 1em;
}
.footer img:nth-last-child(4) {
    margin: 1em 1em;
}
.footer img:nth-last-child(5) {
    margin: 0em 1em 1.2em 1em;
}
/*--- end ---*/
.end {
    background-color: black;
    color: black;
}
.mobile {
    display:none;
}