body .add-theme {
    background-image: url(../assets/header.png);
    color: white;
}
body a, nav.navbar-dark .navbar-nav .nav-link {
    color: white;
}
body a:hover {
    color: #f8f9fa
}
html body {
    background-image: url(../assets/back4.png);
    color: rgb(247, 247, 202);
    margin-top: 100px;
}
body hr {
    color: black;
    background-color: black;
    border: none;
    height: 2px;
    margin: 1.2em 0;
}
nav img {
    max-height: 80px;
}
.footer img {
    max-width: 10%;
}