    .clude .include {
        font-size: 3vw;
        line-height: 4vw;
    }
    h3.h3 {
        margin: 5vw 0;
        font-size: 3.6vw;
    }
    .mobile {
        display: block;
    }
    hr.mobile {
        margin: 5vw 0;
    }
    .header .links{
        display: none;
    }
    .header .ss p {
        display: none;
    }
    .header .ss div.nav {
        display: block;
        right: 100%;
    }
    .slide {
        margin-top: 6vw;
    }
    .subscribe {
        display: flex;
        flex-direction: column;
    }
    .subscribe input {
        height: 2vw;
        font-size: 2vw;
    }
    .subscribe button {
        height: 20%;
        font-size: 1.8vw;
    }
    .subscribe img {
        width: 10vw;
    }
    .subscribe button, .subscribe input {
        margin: 0 0 0 0;
    }
    .subscribe input {
        width: 60vw;
        margin-left: 8%;
        margin-right: .5vw;
    }
    .subscribe p, .subscribe img{
        margin: 0 auto 1vw auto;
    }
    .advantages div:first-child img, .advantages div:last-of-type img {
        float:none;
        width:100%;
        margin: 0;
        border: 0;
    }
    .advantages h3 {
        text-align: center;
        margin: 2.5vw 0;
    }
    .advantages h6:last-child {
        margin: 2% 0;
        font-size: 1.6vw;
    }
    .advantages p {
        margin-bottom: 5vw;
    }
    .news {
        grid-template-columns: 100%;
        grid-template-rows: 100% 100% 100%;
        grid-template-areas: "news1"
                             "news2"
                             "news3";
    }
    .news h3, .sales h3 {
        text-align: center;
        margin: 2vw 0;
    }
    .sales {
        grid-template-rows: 100% 100%;
        grid-template-columns: 100%;
        grid-template-areas: "sale1" 
                             "sale2";
    }
    .contact {
        padding-left: 15.3vw;
        margin-bottom: 4.5vw;
        grid-template-columns: 80%;
        grid-row-gap: 5vw;
        grid-template-rows: 100% 100%;
        grid-template-areas: "social"
                             "twitter";
    }
    .social div:last-child{
        margin: 0 10%;
        display: grid;
        grid-template-columns: 28.5vw 28.5vw;
        grid-template-rows: 100% 100%;
    }
    .social div:first-child img{
        width: 10%;
        margin-left: 46%;
    }
    .social a img{
        width: 15%;
    }
    .social h3 {
        font-size: 3vw;
        margin: 0 0 2vw 0;
    }
    .social a p {
        margin-top: .8vw;
        font-size: 2.5vw;
    }
    .twitter-timeline {
        height: 100%;
    }
    .footer p {
        text-align: justify;
    }
    .footer img {
        float:none;
    }
    .footer img:nth-child(3) {
        margin: 0 0 1.5vw 0;
    }
    .footer img:nth-last-child(1){
        margin:0;
        padding-bottom: 8vw;
    }
    .footer img:nth-last-child(2), .footer img:nth-last-child(3) {
        margin:0;
        padding-bottom: 9vw;
        padding-right: 2vw;
    }
    .footer img:nth-last-child(4) {
        margin:0;
        padding-bottom: 4vw;
        padding-right: 2vw;
    }